---
import type { Page } from "astro";
import { siteName, siteTitle } from "../consts";
import Layout from "../layouts/Layout.astro";
import CardHero from "./CardHero.astro";
import PostNews from "./PostNews.astro";
import PostLatest from "./PostLatest.astro";
import Card from "./Card.astro";
import Pagination from "./Pagination.astro";

interface Props {
  page: Page;
  title: string;
  description?: string;
  pageFirst?: boolean;
}
const pathname = Astro.url.pathname;
const { page, title, description, pageFirst = false } = Astro.props;

const pageInfo = page.currentPage > 1 ? ` (Page ${page.currentPage})` : "";
const modifiedTitle = `${title} ${pageInfo}` + (title !== siteTitle ? ` | ${siteName}` : "");


---

<Layout title={modifiedTitle} description={description} image={new URL("TalePunk.webp", Astro.site)}>
  {
    
    pageFirst && page.currentPage === 1 ? (   
      
        <div class="lg:flex mb-12 mx-4">
          <div class="lg:w-3/4">
            {page.data[0] && <CardHero post={page.data[0]} />}
          </div>
          <div class="mt-12 lg:mt-0 lg:w-1/4 lg:ml-8 md:mr-24 lg:mr-0 ">
            <PostNews id="Home" />
          </div>
        </div>
        <div class="mx-2 sm:mx-4">
          <Card Posts={page.data.slice(1)} />
        </div>
     
    ) : ( 
    <h1 class="text-heading text-2xl font-semibold mb-8 sm:mb-10  mx-4">{(title !== siteTitle) ? title:""}<span class="ml-3">{pageInfo}</span></h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 ">
        {!pathname.includes("/news") ?(
        <aside class="mb-8 order-1 sm:mr-4 mx-4">
          <PostNews id="Other Pages" />
        </aside>
        
        <aside class="mb-8 order-3 sm:order-2 my-12 sm:my-0 sm:ml-4 mx-4">
          <PostLatest id="Other Pages" />
        </aside>
        ):""}

        <div class="order-2 sm:order-3 sm:col-span-2 mx-2 sm:mx-4">
          <Card Posts={page.data} Loading={2} />
        </div>
      </div>
      
    )
  }

  <Pagination page={page} />
</Layout>
